.cart-container {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: white;
    border-left: 2px solid black;
    position: fixed;
    top:0;
    bottom: 0;
    transition: right .5s ease-in-out;
    z-index: 40;
    overflow: auto;
}

.close-cart-button {
    cursor:pointer;
    position:absolute;
    right: 20px;
    top: 20px;
}

.cart-logo {
    position:absolute;
    left: 20px;
    top: 20px;
}

.border-line{
    position: absolute;
    width: 90%;
    top:68px;
    border-bottom: 2px solid black;
    left:5%;
}
.cart-item{
    margin: 20px 0;
}
.cart-item div, .cart-item h3{
    text-align: center;
}
.total-price-container{
    position: absolute;
    text-align: center;
    bottom: 20px;
    font-family: 'BYekan';
    border-top: solid 2px black;
}

@media(max-width:959px){

    .cart-container {
        width: 100vw;
        right:-101vw;
    }
}

@media(min-width:960px) {

    .cart-container {
        width: 35vw;
        right: -36vw;
    }
}